@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');


@import "tailwindcss";

:root {
  /* Colors */
  --background: #0b0f19;
  --surface: #111827;
  --surface-hover: #1a2438;

  --primary: #0061f3;
  --primary-hover: #2563eb;

  --text: #ffffff;
  --text-muted: #94a3b8;

  --border: #1e293b;

  /* Radius */
  --radius-sm: 12px;
  --radius-md: 16px;
  --radius-lg: 24px;
  --radius-xl: 32px;
}

html {
  scroll-behavior: smooth;
}


body {
    font-family: 'Geist', sans-serif;
  background: var(--background);
  color: var(--text);

}

button {
  cursor: pointer;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}