@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  /* Colors */
  --background: #0b0f19;
  --surface: #111827;
  --surface-hover: #1a2438;

  --primary: #0061f3;
  --primary-hover: #2563eb;

  --text: #ffffff;
  --text-muted: #94a3b8;

  --border: #1e293b;

  /* Radius */
  --radius-sm: 12px;
  --radius-md: 16px;
  --radius-lg: 24px;
  --radius-xl: 32px;
}

body {
  background: var(--background);
  color: var(--text);
}

button {
  cursor: pointer;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Add to your global CSS or index.css */
@keyframes bounce-slow {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 3s ease-in-out infinite;
}

.animate-slideUp {
  animation: slideUp 0.3s ease;
}

/* /////////////////// */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #2563eb, #7c3aed);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #1d4ed8, #6d28d9);
}

::-webkit-scrollbar-button {
  display: none;
}

/* Hide arrows for all states */
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: none;
  height: 0;
  width: 0;
  opacity: 0;
}

/* Hide scrollbar corner */
::-webkit-scrollbar-corner {
  background: transparent;
}
